<a href="https://colab.research.google.com/github/viitoriaraujoo/Data-Science-Projects-with-Python/blob/main/Exercicio%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Predição de bons pagadores de cartão de crédito

## 1. Bibliotecas

In [2]:
import pandas as pd

## 2. Carregamento de Dados

In [3]:
df= pd.read_excel('https://github.com/TrainingByPackt/Data-Science-Projects-with-Python/raw/master/Data/default_of_credit_card_clients__courseware_version_1_21_19.xls')

## 3. Verificando a integridade dos dados

### 3.1 Verificando as colunas

In [4]:
df.columns, len (df.columns)

(Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
        'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
        'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
        'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
        'default payment next month'],
       dtype='object'),
 25)



####3.1.1 Dicionário de Dados

- **LIMIT_BAL:** Valor do crédito fornecido (em novos dólares taiwaneses (NT)) inclusive o crédito do consumidor individual e familiar (complementar).

- **SEX:** Gênero (1 = masculino; 2 = feminino).

- **EDUCATION:** Instrução (1 = pós-graduação; 2 = universidade; 3 = ensino médio; 4 = outros).

- **MARRIAGE:** Estado civil (1 = casado; 2 = solteiro; 3 = outros).

- **AGE:** Idade (ano).

- **PAY_1–PAY_6:** Registro de pagamentos passados. Pagamentos mensais passados, registrados de abril a setembro, são armazenados nessas colunas.
  - PAY_1 representa o status de reembolso em setembro;
  - PAY_2 = status de reembolso em agosto; e assim por diante até PAY_6, que representa o status de reembolso em abril.
  - A escala de medida do status de reembolso é a seguinte: -1 = pagamento pontual; 1 = atraso de um mês no pagamento; 2 = atraso de dois meses no pagamento; e assim por diante até 8 = atraso de oito meses no pagamento; 9 = atraso de nove meses ou mais no pagamento.

- **BILL_AMT1–BILL_AMT6:** Valor da fatura (em novos dólares taiwaneses).
  - BILL_AMT1 representa o valor da fatura em setembro; BILL_AMT2 representa o valor da fatura em agosto; e assim por diante até BILL_AMT7, que representa o valor da fatura em abril.

- **PAY_AMT1–PAY_AMT6:** Valor de pagamentos anteriores (novos dólares taiwaneses).
  - PAY_AMT1 representa o valor pago em setembro; PAY_AMT2 representa o valor pago em agosto; e assim por diante até PAY_AMT6, que representa o valor pago em abril.

### 3.2 Dando uma olhada nos nossos Dados

In [5]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

### 3.3 Verificando se todos os IDs são únicos

In [6]:
df['ID'].nunique()

29687

### 3.4 Verficando o total de linhas

In [7]:
df.shape[0]

30000

In [8]:
df.shape[0]-df['ID'].nunique()

313

### 3.5 Contagem de ID's

In [9]:
id_counts=df['ID'].value_counts()

In [10]:
id_counts.head()

ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
Name: ID, dtype: int64

### 3.6 Contagem de Repetições

In [11]:
id_counts.value_counts()

1    29374
2      313
Name: ID, dtype: int64

## 4. Análise de Dados Duplicados

### 4.1 IDs que se repetem

In [12]:
dupe_mask= id_counts==2

In [13]:
dupe_mask[0:5]

ad23fe5c-7b09    True
1fb3e3e6-a68d    True
89f8f447-fca8    True
7c9b7473-cc2f    True
90330d02-82d9    True
Name: ID, dtype: bool

### 4.2 Exibindo os 5 primeiros indices

In [14]:
id_counts.index[:5]

Index(['ad23fe5c-7b09', '1fb3e3e6-a68d', '89f8f447-fca8', '7c9b7473-cc2f',
       '90330d02-82d9'],
      dtype='object')

### 4.3 Armazenando itens duplicados

In [15]:
dupe_ids=id_counts.index[dupe_mask]

### 4.4 Convertendo em uma lista e obtendo seu tamanho

In [16]:
dupe_ids = list(dupe_ids)

In [17]:
len(dupe_ids)

313

### 4.5 As 5 primeiras entradas da lista

In [18]:
dupe_ids[0:5]

['ad23fe5c-7b09',
 '1fb3e3e6-a68d',
 '89f8f447-fca8',
 '7c9b7473-cc2f',
 '90330d02-82d9']

### 4.6 Selecionando linhas com IDs duplicados

In [26]:
df.loc[df['ID'].isin(dupe_ids[0:3]),:].head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5033,89f8f447-fca8,320000,2,2,1,32,0,0,0,0,...,169371,172868,150827,8000,8000,5500,6100,6000,5000,0
5133,89f8f447-fca8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16727,1fb3e3e6-a68d,80000,1,2,2,33,2,2,0,0,...,27394,29922,31879,0,2000,2000,3000,2600,0,1
16827,1fb3e3e6-a68d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29685,ad23fe5c-7b09,50000,1,3,1,32,0,0,0,0,...,12882,8131,3983,3000,2871,1000,163,3983,3771,1
29785,ad23fe5c-7b09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 4.7 Preparando a matriz booleana para filtragem do Dataframe

In [28]:
df_zero_mask = df == 0

### 4.8 Criando a série booleana

In [32]:
 feature_zero_mask =df_zero_mask.iloc[:,1:].all(axis=1)

### 4.9 Somando a série booleana com todas as colunas zeradas (exceto ID)

In [33]:
sum(feature_zero_mask)

315


### 4.10 Eliminar as linhas c/ todas as colunas zeradas

In [40]:
df_clean_1 = df.loc[~feature_zero_mask,:].copy()

### 4.11 Verificando o shape do Dataframe

In [41]:
df_clean_1.shape

(29685, 25)

### 4.12 Verificando se o programa foi resolvido

In [42]:
df_clean_1['ID'].nunique()

29685